body {
    margin: 0;
    background: #F3DEE0;
}

main {
    border: 2px solid #15786b;
    background: #fff;
    width: 100%;
    max-width: 70em;
    min-width: 370px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
}

.stats-wrapper {
    flex-grow: 1;
    flex-basis: 60%;
}

.stats {
    border: 1px solid #599D94;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    flex-basis: 60%;
    flex-grow: 1;
    display: flex;
}

.stats__graph {
    width: 100% !important;
    height: 100%;
}

.stats__graph img {
    display: block;
    width: 100%;
    height: auto;
}

.stats__estimated {
    width: 30%;
    height: 100%;
    text-align: center;
}

.stats__estimated b {
    font-size: 0.8em;
}

.stats__estimated b {
    font-size: 1em;
}

.user-info-wrapper {
    flex-grow: 1;
    flex-basis: 20%;
}

.user-info {
    flex-basis: 20%;
    flex-grow: 1;
    border: 1px solid #599D94;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.user-info img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.user-info h2 {
    font-size: 1.25em;
    margin: 10px 0 0 0;
}

.user-info a {
    text-decoration: none;
    color: #15786b;
}

.user-info p {
    font-size: 1em;
    margin: 5px 0 0 0;
}

.user-info b {
    font-size: 1em;
}

.cards-wrapper {
    flex-grow: 1;
    flex-basis: 60%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #599D94;
    border-radius: 10px;
}

.cards-wrapper h1 {
    margin: 0;
}

.cards {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    height: 100%;
    min-width: 12em;
    border-radius: 10px;
    border: 1px solid #15786b;
    padding: 10px;
    box-sizing: border-box;
}

.card h3, b, p{
    margin: 0;
}

.card b {
    font-size: 1em;
}

.card p {
    margin-top: 5px;
    font-size: 0.9em;
}

.currency-wrapper {
    flex-grow: 1;
    flex-basis: 20%;
    min-height: 20em;
}

.currency {
    border: 1px solid #599D94;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    background-size: cover;
    text-align: center;
    color: #15786b;
}

.currency-table {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.currency-table div {
    display: block;
    width: 25%;
    box-sizing: border-box;
}

select {
    background: #fff;
    font-size: 1em;
    padding-top: 4px;
    box-sizing: border-box;
}

.currency-converter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.currency-converter__data {
    align-items: center;
}

.form-element {
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid #15786b;
    transition: .1s;
    font-family: Montserrat;
    padding-left: 10px;
    box-sizing: border-box;
}


.form-element:focus {
    outline: none;
    border-color: #599D94;
    box-shadow: 0 0 0px 2px #599D94;
    transition: .1s;
}

.form-element:disabled {
    background: #F0EFEF;
    cursor: no-drop;
}

.form-button {
    width: 10em;
    background: #15786b;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
}

.form-button:hover {
    background: #fff;
    color: #15786b;
}

.currency h2 {
    color: #000000;
    margin: 0;
}

@media all and (max-width: 700px) {
    .stats-wrapper {
        flex-basis: 100%;
    }

    .user-info-wrapper {
        flex-basis: 100%;
    }

    .cards-wrapper {
        flex-basis: 100%;
    }

    .currency-wrapper {
        flex-basis: 100%;
    }

    .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

    .stats__graph {
        width: 100%;
        height: auto;
    }

    .stats__estimated {
        height: auto;
    }

    .cards-wrapper h1 {
        font-size: 2em;
    }

    .recent-donations {
        flex-basis: 100%;
    }

    .user-info {
        flex-basis: 100%;
    }

    .currency {
        flex-basis: 100%;
    }
}